/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
}

p, a {
  font-family: 'Muli', sans-serif;
}

html {
  box-sizing: border-box;
}


.main-banner {
  background: image-url("banner-image.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper-intro {
    width: 880px;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
      h1 {
        font-size: 4em;
        font-weight: 700;
        color: #fff;
        margin-bottom: 4rem;
      }
  }
}

.wrapper-list {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  .cock-pic {
    flex: 0 0 100px;
    margin-right: 2rem;
    img {
      max-width: 100px;
      max-height: 80px;
      border-radius: .2em;
    }
  }
  .cock-name {
    flex: 1 0 auto;
    padding: 2em 0;
  }
  .cock-action{
    justify-content: flex-end;
  }
  h3 a{
    font-size: .8em;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
  }
}
