.list-action {
  margin: 2rem 0;
  .button-main {
    margin-right: 1rem;
  }
}

.wrapper-ingredients {
  .ingredient {
    border-bottom: 1px solid #eaeaea;
    margin: 1rem 0;
    padding: .7em 0;
  }
}

ul {
  list-style: none;
  color: #000;
}

li {
  border-bottom: 1px solid #eaeaea;
}

a {
  &:hover {
    color: #e74c3c;
    text-decoration: none;
  }
}
