.banner-cocktails {
  background: #f85032; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 150px;
  h1 {
    color: #fff;
    text-align: center;
  }
}

.back {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  i {
    margin-right: .7rem;
    font-size: 1.4em;
  }
}

.btn-back-special {
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: .7em;
  &:hover {
    color: #3a3a3a;
    text-decoration: none;
  }
}

.wrapper-cocktail {
  padding: 1.3em 0;
  h3 {
    font-size: 2.5em;
    font-weight: 800;
  }
  .ing-link {
    font-weight: 800;
    text-decoration: none;
    color: #c0392b;
    &:hover {
      color: lighten(#c0392b, 20%)
    }
  }
}

.wrapper-dose {
  max-width: 500px;
}

.icons {
  color: #c0392b;
}
