body {
  position: relative;
}
.main-nav {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  position: absolute;
  .logo {
    img {
      max-width: 75px;
    }
    span {
      font-size: 1.1em;
      font-weight: 800;
      color: #fff;
      font-family: 'Bitter', serif;
    }
  }
  .items-right {
    justify-content: flex-end;
  }
}
